#a { grid-area: a; background: url('../static/gallery/design_01.jpg')}
#b { grid-area: b; background: url('../static/gallery/design_02.jpg')}
#c { grid-area: c; background: url('../static/gallery/design_03.jpg')}
#d { grid-area: d; background: url('../static/gallery/design_04.jpg')}
#e { grid-area: e; background: url('../static/gallery/design_05.jpg')}
#f { grid-area: f; background: url('../static/gallery/design_06.jpg')}
#g { grid-area: g; background: url('../static/gallery/design_07.jpg')}
#h { grid-area: h; background: url('../static/gallery/design_08.jpg')}
#i { grid-area: i; background: url('../static/gallery/design_09.jpg')}
#j { grid-area: j; background: url('../static/gallery/design_10.jpg')}
#k { grid-area: k; background: url('../static/gallery/design_11.jpg')}
#l { grid-area: l; background: url('../static/gallery/design_12.jpg')}
#m { grid-area: m; background: url('../static/gallery/design_13.jpg')}
#n { grid-area: n; background: url('../static/gallery/design_14.jpg')}
#o { grid-area: o; background: url('../static/gallery/design_15.jpg')}
#p { grid-area: p; background: url('../static/gallery/design_16.jpg')}
#q { grid-area: q; background: url('../static/gallery/design_17.jpg')}
#r { grid-area: r; background: url('../static/gallery/design_18.jpg')}


#grid {
    display: grid;
    grid-template-areas:
        "a b c"
        "d e f"
        "g h i"
        "j k l"
        "m n o"
        "p q r"
        "s t u"
}


@media (max-width: 767px) {
    #grid {
        grid-template-areas:
            "a b"
            "c d"
            "e f"
            "g h"
            "i j"
            "k l"
    }
}
/*Grid layout for detail grid*/
#torque { grid-area: a; }
#weight { grid-area: b; }
#speed { grid-area: c; }
#detail-grid {
    display: grid;
    grid-template-areas:
        "a b c"
}
@media (max-width: 767px) {
    #detail-grid {
        grid-template-areas:
            "a b"
            "c c"
    }
}
@media (max-width: 599px) {
    #detail-grid {
        grid-template-areas:
            "a a"
            "b b"
            "c c"
    }
}
