.center, .center-column, .top, .right, .bottom, .left {
	display: flex;
	justify-content: center;
	align-items: center;
}

.center-column {
    flex-direction: column;
}

.top    { align-items:     flex-start; }
.right  { justify-content: flex-end;   }
.bottom { align-items:     flex-end;   }
.left   { justify-content: flex-start; }

.single-spaced, .single-spaced * {
    line-height: 1;
}

.double-spaced, .double-spaced * {
    line-height: 3;
}

@media (max-width: 768px) {
	.desktop {
		display: none;
	}
}

@media (min-width: 769px) {
	.portable {
		display: none;
	}
}

