.center, .center-column, .top, .right, .bottom, .left {
	display: flex;
	justify-content: center;
	align-items: center;
}

.center-column {
    flex-direction: column;
}

.top    { align-items:     flex-start; }
.right  { justify-content: flex-end;   }
.bottom { align-items:     flex-end;   }
.left   { justify-content: flex-start; }

.single-spaced, .single-spaced * {
    line-height: 1;
}

.double-spaced, .double-spaced * {
    line-height: 3;
}

@media (max-width: 768px) {
	.desktop {
		display: none;
	}
}

@media (min-width: 769px) {
	.portable {
		display: none;
	}
}

@media (max-width: 1500px) {
	.desktop2 {
		display: none;
	}
}

@media (min-width: 1501px) {
	.portable2 {
		display: none;
	}
}
@media (max-width: 500px) {
	.desktop3 {
		display: none;
	}
}

@media (min-width: 501px) {
	.portable3 {
		display: none;
	}
}
/*Performance Section image changing*/
@media (max-width: 1024px) {
	.desktop4 {
		display: none;
	}
}

@media (min-width: 768px) {
	.tablet {
		display: none;
	}
}
@media (max-width: 600px) {
	.phablet {
		display: none;
	}
}

@media (min-width: 320px) {
	.phone {
		display: none;
	}
}

